/*@import url("reset.css");*/
/* Lan----------------------------------*/ 
#vdCenter .vdFrame {position:relative;width:670px;height:403px;margin:0 auto;color:#FFFFFF;background:url(../images/i_vd.gif) no-repeat;top:-15px;left:-10px;}
#vdCenter .lanFrame {position:absolute;top:184px;left:183px;width:152px; height:121px;}
#vdCenter .lanFrame ul li {display:block;text-align:center;width:35px;height:29px;position:relative;margin:0;padding:0;float:right;margin-right:-2px;}
#vdCenter .lan_on {background:url(../images/earthnet.gif) -1px 0 no-repeat;display:block;width:35px;height:29px;margin:0;padding:0;}

#vdCenter .voipFrame{position:absolute;left:374px;top:184px;width:65px;height:130px;}
#vdCenter .voipFrame ul li{display:block;text-align:center;width:25px;height:30px;position:relative;margin-left:3px;padding:0;
						   float:right;margin-right:-2px;}
#vdCenter .voip_on {background:url(../images/i_voip.gif) no-repeat;width:25px;height:30px;}

#vdCenter .wan_on {background:url(../images/wan.gif) -1px 0 no-repeat;display:block;width:40px;height:29px;position:absolute;left:339px;top:184px;}


#vdCenter .wifiSignal_off {}
#vdCenter .wifiSignal_on {background:url(../images/i_wifi_on.gif) no-repeat;width:52px;height:40px;position:absolute;left:35px;top:118px;}

#vdCenter .dslline_on {background:url(../images/i_dsl.gif) no-repeat;display:block;width:35px;height:102px;position:absolute;left:117px;top:183px;}


#vdCenter .usbFrame {position:absolute;left:159px;top:180px;width:30px;height:123px;}
#vdCenter .usbFrame ul li{display:block;text-align:center;width:28px;height:35px;position:relative;margin:0;padding:0;}

#vdCenter .usb_on {background:url(../images/i_usb.gif) -1px 0 no-repeat;width:28px;height:35px;display:block;margin:0;padding:0;}


.off .dslname{ display:none;}
.dslline_on .dslname{ position:relative; top:100px;  left:0;text-align:left;}

.off .usbname1, .off .usbname1{ display:none;}
.usb_on .usbname1{ position:relative; top:100px;  left:0px;}

.lan_on .lanname1{position:relative; top:100px;  left:0;}
.off .lanname1{display:none;}
.lan_on .lanname2{position:relative; top:100px;  left:0;}
.off .lanname2{display:none;}
.lan_on .lanname3{position:relative; top:100px;  left:0;}
.off .lanname3{display:none;}
.lan_on .lanname4{position:relative; top:100px;  left:0;}
.off .lanname4{display:none;}

.wifiSignal_on .wifiSignalname{position:relative; top:-20px;  left:0px;}
.wifiSignal_off .wifiSignalname{display:none;}

.off .wanname{ display:none;}
.wan_on .wanname{ position:relative; top:100px;  left:0; text-align:center;}
.voip_on .voipname{position:relative; top:100px;  left:0;}
.off .voipname{display:none;}